@tailwind base;
@tailwind components;
@tailwind utilities;

.top-anime-list img {
  width: 100%;
  height: 322px;
}

.top-anime-list {
  transition: 1s;
}

.top-anime-list:hover {
  transform: scale(1.1);
}

.top-anime-list .top-anime-header h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}