@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-bg: #070720;
  --primary-bg: #0b0c2a;
  
  --primary-color: #fff;
  --secondary-color: #e53637;
}

/* ----------- Container CSS ------------ */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

body {
  background-color: var(--primary-bg);
}

.top-anime-list img {
  max-width: 100%;
  height: 322px;
}

.top-anime-list .top-anime-hover {
  transition: 1s;
}

.top-anime-list .top-anime-hover:hover {
  transform: scale(1.1);
}

.top-anime-list .top-anime-header h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hover-link {
  display: inline-block;
  position: relative;
}

.hover-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.anime-title h5 {
  position: relative;
}

.anime-title h5::after {
  position: absolute;
  left: -13px;
  height: 32px;
  width: 4px;
  background: #e53637;
  content: "";
}

@media (max-width: 768px) {
  .top-anime-list img {
    height: 250px;
  }
}